<a href="https://colab.research.google.com/github/lucky-singh/kiss/blob/master/crop_prices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import xmltodict

In [0]:
!wget 'https://data.gov.in/sites/default/files/Paddy(Dhan)_2015.xml' -O PaddyDhan_2015.xml

--2019-03-13 14:25:13--  https://data.gov.in/sites/default/files/Paddy(Dhan)_2015.xml
Resolving data.gov.in (data.gov.in)... 164.100.83.161
Connecting to data.gov.in (data.gov.in)|164.100.83.161|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/xml]
Saving to: ‘PaddyDhan_2015.xml’

PaddyDhan_2015.xml      [          <=>       ]  67.96M  1.11MB/s    in 62s

2019-03-13 14:26:17 (1.09 MB/s) - ‘PaddyDhan_2015.xml’ saved [71257321]

for node in xroot: 
    State = node.attrib.get("State").text
    District = node.find("District").text
    Market = node.find("Market").text
    Commodity = node.find("Commodity").text
    Variety = node.find("Variety").text
    Arrival_Date = node.find("Arrival_Date").text
    Min_x0020_Price = node.find("Min_x0020_Price").text
    Max_x0020_Price = node.find("Max_x0020_Price").text
    Modal_x0020_Price = node.find("Modal_x0020_Price").text

In [0]:
with open('PaddyDhan_2015.xml') as fd:
    doc = xmltodict.parse(fd.read())

In [0]:
cols = []

for row in doc['soap:Envelope']['soap:Body']['showResponse']['showResult']['xs:schema']['xs:element']['xs:complexType']['xs:choice']['xs:element']['xs:complexType']['xs:sequence']['xs:element']:
    cols.append(row['@name'])
    
cols

['State',
 'District',
 'Market',
 'Commodity',
 'Variety',
 'Arrival_Date',
 'Min_x0020_Price',
 'Max_x0020_Price',
 'Modal_x0020_Price']

In [0]:
for col in cols:
  vars()[col]=[]

In [0]:
for col in cols:
    for row in doc['soap:Envelope']['soap:Body']['showResponse']['showResult']['diffgr:diffgram']['NewDataSet']['Table']:
        vars()[col].append(row[col])

doc['soap:Envelope']['soap:Body']['showResponse']['showResult']['diffgr:diffgram']['NewDataSet']['Table'][0].keys()

In [0]:
# State = []
# District = []
# Market = []
# Commodity = []
# Variety = []
# Arrival_Date = []
# Min_x0020_Price = []
# Max_x0020_Price = []
# Modal_x0020_Price = []

# for row in doc['soap:Envelope']['soap:Body']['showResponse']['showResult']['diffgr:diffgram']['NewDataSet']['Table']:
#     State.append(row['State'])
#     District.append(row['District'])
#     Market.append(row['Market'])
#     Commodity.append(row['Commodity'])
#     Variety.append(row['Variety'])
#     Arrival_Date.append(row['Arrival_Date'])
#     Min_x0020_Price.append(row['Min_x0020_Price'])
#     Max_x0020_Price.append(row['Max_x0020_Price'])
#     Modal_x0020_Price.append(row['Modal_x0020_Price'])

In [0]:
df = pd.DataFrame()
for col in cols:
    df[col]  = vars()[col]

In [0]:
df.head()

,State,District,Market,Commodity,Variety,Arrival_Date,Min_x0020_Price,Max_x0020_Price,Modal_x0020_Price
0,Andhra Pradesh,Anantapur,Dharmavaram,Paddy(Dhan),A. Ponni,28/07/2015,1300,1500,1400
1,Andhra Pradesh,Anantapur,Dharmavaram,Paddy(Dhan),AST 17,08/09/2015,1600,1800,1700
2,Andhra Pradesh,Anantapur,Dharmavaram,Paddy(Dhan),AST 20,01/09/2015,1300,1500,1400
3,Andhra Pradesh,Anantapur,Dharmavaram,Paddy(Dhan),B P T,01/01/2015,1100,1200,1150
4,Andhra Pradesh,Anantapur,Dharmavaram,Paddy(Dhan),B P T,02/01/2015,1200,1400,1300