<a href="https://colab.research.google.com/github/lucky-singh/kiss/blob/master/crop_prices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install wget xmltodict

Collecting wget
  Downloading https://files.pythonhosted.org/packages/47/6a/62e288da7bcda82b935ff0c6cfe542970f04e29c756b0e147251b2fb251f/wget-3.2.zip
Collecting xmltodict
  Downloading https://files.pythonhosted.org/packages/28/fd/30d5c1d3ac29ce229f6bdc40bbc20b28f716e8b363140c26eff19122d8a5/xmltodict-0.12.0-py2.py3-none-any.whl
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/40/15/30/7d8f7cea2902b4db79e3fea550d7d7b85ecb27ef992b618f3f
Successfully built wget
Installing collected packages: wget, xmltodict
Successfully installed wget-3.2 xmltodict-0.12.0

In [0]:
import pandas as pd
import xmltodict
import time
import wget

* Downloading files from data.gov.in using file pattern.
* Input is given as crop, which should match with the URL in data.gov.in
* Years are assumed from 2001 onwards

In [0]:
def download_xml(crop):
    current_year = int(time.strftime('%Y'))
    crops = []
    for year in range(2001, current_year + 1):
        url = 'https://data.gov.in/sites/default/files/' + crop + '_' + str(year) + '.xml'
        try:
            filename = wget.download(url)
            print(filename)
            crops.append(filename)
        except:
            print('url does not exist:', url)
    return crops

In [133]:
crops = download_xml('Paddy(Dhan)')
print(crops)

['Paddy(Dhan)_2001.xml', 'Paddy(Dhan)_2002.xml', 'Paddy(Dhan)_2003.xml', 'Paddy(Dhan)_2004.xml', 'Paddy(Dhan)_2005.xml', 'Paddy(Dhan)_2006.xml', 'Paddy(Dhan)_2007.xml', 'Paddy(Dhan)_2008.xml', 'Paddy(Dhan)_2009.xml', 'Paddy(Dhan)_2010.xml', 'Paddy(Dhan)_2011.xml', 'Paddy(Dhan)_2012.xml', 'Paddy(Dhan)_2013.xml', 'Paddy(Dhan)_2014.xml', 'Paddy(Dhan)_2015.xml', 'Paddy(Dhan)_2016.xml', 'Paddy(Dhan)_2017.xml', 'Paddy(Dhan)_2018.xml', 'Paddy(Dhan)_2019.xml']

for node in xroot: 
    State = node.attrib.get("State").text
    District = node.find("District").text
    Market = node.find("Market").text
    Commodity = node.find("Commodity").text
    Variety = node.find("Variety").text
    Arrival_Date = node.find("Arrival_Date").text
    Min_x0020_Price = node.find("Min_x0020_Price").text
    Max_x0020_Price = node.find("Max_x0020_Price").text
    Modal_x0020_Price = node.find("Modal_x0020_Price").text

In [0]:
dir()
del State, District, Market, Commodity, Variety, Arrival_Date, Min_x0020_Price, Max_x0020_Price, Modal_x0020_Price

In [0]:
crps = ['Paddy(Dhan)_2001.xml'] # To test with single crop
# for i, crop in enumerate(crps):

for i, crop in enumerate(crops):
    with open(crop) as fd:
        vars()["doc" + str(i)] = xmltodict.parse(fd.read())
        
    if cols not in dir():
        cols = []
        for row in vars()["doc" + str(i)]['soap:Envelope']['soap:Body']['showResponse']['showResult']['xs:schema']['xs:element']['xs:complexType']['xs:choice']['xs:element']['xs:complexType']['xs:sequence']['xs:element']:
            cols.append(row['@name'])
        
    for col in cols:
        if col not in dir():
            vars()[col]=[]
        try:
            for row in vars()["doc" + str(i)]['soap:Envelope']['soap:Body']['showResponse']['showResult']['diffgr:diffgram']['NewDataSet']['Table']:
                try:
                    vars()[col].append(row[col])
                except:
                    vars()[col].append('NaN')
        except:
            print("File is empty:", crop)
            continue
    print("Length of dataset with",crop, "is", len(vars()[col]))

Length of dataset with Paddy(Dhan)_2001.xml is 289
Length of dataset with Paddy(Dhan)_2002.xml is 11301
Length of dataset with Paddy(Dhan)_2003.xml is 43526
Length of dataset with Paddy(Dhan)_2004.xml is 82378
Length of dataset with Paddy(Dhan)_2005.xml is 146943
Length of dataset with Paddy(Dhan)_2006.xml is 277826
Length of dataset with Paddy(Dhan)_2007.xml is 411636
Length of dataset with Paddy(Dhan)_2008.xml is 562985
Length of dataset with Paddy(Dhan)_2009.xml is 730190
Length of dataset with Paddy(Dhan)_2010.xml is 889689
Length of dataset with Paddy(Dhan)_2011.xml is 1056600
Length of dataset with Paddy(Dhan)_2012.xml is 1221580
Length of dataset with Paddy(Dhan)_2013.xml is 1409330
Length of dataset with Paddy(Dhan)_2014.xml is 1593966
Length of dataset with Paddy(Dhan)_2015.xml is 1789381

doc['soap:Envelope']['soap:Body']['showResponse']['showResult']['diffgr:diffgram']['NewDataSet']['Table'][0].keys()

In [0]:
df = pd.DataFrame()
for col in cols:
    df[col]  = vars()[col]

In [129]:
df.head()

,State,District,Market,Commodity,Variety,Arrival_Date,Min_x0020_Price,Max_x0020_Price,Modal_x0020_Price
0,Assam,Darrang,Kharupetia,Paddy(Dhan),Paddy,20/03/2001,480,520,520
1,Chandigarh,Chandigarh,Chandigarh (F&V),Paddy(Dhan),Other,18/09/2001,510,562,531
2,Chandigarh,Chandigarh,Chandigarh (F&V),Paddy(Dhan),Other,19/09/2001,486,568,527
3,Chandigarh,Chandigarh,Chandigarh (F&V),Paddy(Dhan),Other,20/09/2001,480,563,521
4,Chandigarh,Chandigarh,Chandigarh (F&V),Paddy(Dhan),Other,21/09/2001,440,568,534

In [131]:
df.tail()

,State,District,Market,Commodity,Variety,Arrival_Date,Min_x0020_Price,Max_x0020_Price,Modal_x0020_Price
2155455,West Bengal,Nadia,Nadia,Paddy(Dhan),Fine,23/01/2018,2030,2090,2060
2155456,West Bengal,Nadia,Nadia,Paddy(Dhan),Fine,24/01/2018,2030,2090,2060
2155457,West Bengal,Nadia,Nadia,Paddy(Dhan),Fine,25/01/2018,2030,2090,2060
2155458,West Bengal,Nadia,Nadia,Paddy(Dhan),Fine,29/01/2018,2030,2090,2060
2155459,West Bengal,Nadia,Nadia,Paddy(Dhan),Fine,30/01/2018,2030,2090,2060

In [130]:
df.shape

(2155460, 9)